<!-- Title -->
<div class="container">
  <div class="player_1">
    <img src="kicker.jpeg"/>
    <h2><%= @game.player_1.name %> </h2>
    <h2>Hit Points: <%= @game.player_1.hit_points %> </h2>
  </div>
  <div class="player_2">
    <img src="kneer.png"/>
    <h2><%= @game.player_2.name %> </h2>
    <h2>Hit Points: <%= @game.player_2.hit_points %> </h2>
  </div>
  <div class="clearfix"></div>

<% if @game.turn.current_turn == @game.player_1 %>
  <h2 class="turn"><%= @game.player_1.name %> attacked <%= @game.player_2.name %></h2>
 <% else %>
 <h2 class="turn"><%= @game.player_2.name %> attacked <%= @game.player_1.name %></h2>
 <% end %>

<h2> Attack successful! </h2>

<form>
  <button class="button" type="submit" formmethod="post" formaction="/switch_turn"> Next turn </button>
</form>
