<!-- Title -->
<div class="container">
  <div class="player_1">
    <img src="kicker.jpeg"/>
    <h2><%= @game.player_1.name %> </h2>
    <h2>Hit Points: <%= @game.player_1.hit_points %> </h2>
  </div>
  <div class="player_2">
    <img src="kneer.png"/>
    <h2><%= @game.player_2.name %> </h2>
    <h2>Hit Points: <%= @game.player_2.hit_points %> </h2>
  </div>
  <div class="clearfix"></div>


  <h2 class="turn"><%= @game.turn.current_turn.name %>'s turn</h2>
</div>
<form>
  <button class="button" type="submit" formaction="/attack"> Attack </button>
</form>
